.year {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.month {
    margin: 5px 5px 15px 5px;
}

.month-name {
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

.day {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 6px;
    text-align: center;
    line-height: 30px;
}

.date {
    width: 30px;
    height: 30px;
    margin: 6px;
    background: white;
    border-radius: 50px;
    border: none;
    outline: none;
}

.has-event {
    background: red;
}

.date.in-month:hover {
    cursor: pointer;
    background: red;
    color: white;
}

.today {
    background: #417c97;
    color: white;
}

.date.prev-month,
.date.next-month {
    color: grey;
}

.date.has-event {
    background-color: #ff4500;
    color: white;
}

.date .event-title {
    display: block;
    font-size: 0.8em;
    color: #ff4500;
    margin-top: 4px;
}
