.rbc-month-view {
  border: none;
}
.rbc-month-view .rbc-header {
  text-align: center;
  font-weight: bold;
}
.rbc-month-view .rbc-header span {
  display: inline-block;
  width: 100%;
}
.rbc-month-view .rbc-header:first-letter {
  text-transform: uppercase;
}
.rbc-month-view .rbc-month-row {
  justify-content: center;
}
.rbc-month-view .rbc-day-bg {
  border: none !important;
}
.rbc-month-view .rbc-date-cell {
  padding: 0 !important;
}
.rbc-month-view .rbc-date-cell button {
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
